# Binaries and build outputs
/bin/
/dist/
logs/
*.log
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries and coverage reports
*.test
*.out
coverage.out

# Dependency directories
/vendor/

# Environment files
.env
.env.*
!.env.example

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Modules
huma_golang_api_template_modules_/
